### Lists

lists are built-in data structures in python that can be used to store multiple values in a single variable.

In [1]:
# create a single list
countries = ['India', 'USA', 'UK', 'Canada', 'Australia']

In [2]:
print(countries)

['India', 'USA', 'UK', 'Canada', 'Australia']

In [3]:
print(type(countries))

<class 'list'>

In [4]:
numbers = [] # creates an empty list
print(numbers, type(numbers))

[] <class 'list'>

In [5]:
# lists can store multiple types
mixedList = [1, 2, 3, 'four', 'five', 6.0, True, None, [1, 2, 3]]

In [6]:
print(mixedList, type(mixedList))

[1, 2, 3, 'four', 'five', 6.0, True, None, [1, 2, 3]] <class 'list'>

In [7]:
x = 5
print(x, type(x))

5 <class 'int'>

In [8]:
x = 'five'
print(x, type(x))

five <class 'str'>

In [9]:
countries = ['India', 'USA', 'UK', 'Canada', 'Australia']

In [10]:
# print the entire list
print(countries)

['India', 'USA', 'UK', 'Canada', 'Australia']

In [11]:
# how do we access individual elements? - use index
print(countries[0])

India

In [12]:
print(countries[4])

Australia

In [13]:
print(countries[-1])

Australia

In [14]:
len(countries)

5

In [15]:
# access the last element using len
print(countries[len(countries)-1])

Australia

In [16]:
# list slicing
countries = ['India', 'USA', 'UK', 'Canada', 'Australia']

In [17]:
countries[0:3]

['India', 'USA', 'UK']

In [18]:
# without the first three values
countries[3:]

['Canada', 'Australia']

In [19]:
# if you do not put the starting index, it is assumed to be 0
countries[:3]

['India', 'USA', 'UK']

In [21]:
countries[2:]

['UK', 'Canada', 'Australia']

In [25]:
countries

['India', 'USA', 'UK', 'Canada', 'Australia']

In [26]:
countries[0:5:3]

['India', 'Canada']

In [27]:
countries[:]

['India', 'USA', 'UK', 'Canada', 'Australia']

In [28]:
countries[::-1] # reverse the list
# this reverse operation is not in-place

['Australia', 'Canada', 'UK', 'USA', 'India']

In [29]:
countries

['India', 'USA', 'UK', 'Canada', 'Australia']

In [30]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [37]:
list(dir(list))[37:]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [42]:
numbers = [2, 3, 4, 5, 6]

In [43]:
numbers.append(10) # in-place operation

In [44]:
numbers

[2, 3, 4, 5, 6, 10]

In [45]:
numbers.append(12)

In [46]:
numbers

[2, 3, 4, 5, 6, 10, 12]

In [47]:
numbers.append([1, 2, 3])

In [48]:
numbers

[2, 3, 4, 5, 6, 10, 12, [1, 2, 3]]

In [49]:
list(dir(list))[37:]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [50]:
numbers

[2, 3, 4, 5, 6, 10, 12, [1, 2, 3]]

In [52]:
numbers.clear() # in-place operation

In [53]:
numbers

[]

Deep Copy Vs Shallow Copy

Deep Copy

In [54]:
a = 5

In [55]:
b = a

In [56]:
print(a, b)

5 5

In [57]:
a = 6

In [58]:
print(a, b)

6 5

In [59]:
# shallow copy -> copy the references
nums1 = [1, 2, 3]

In [60]:
nums2 = nums1

In [61]:
nums2

[1, 2, 3]

In [62]:
nums1[0] = 10

In [63]:
nums1

[10, 2, 3]

In [64]:
nums2

[10, 2, 3]

In [65]:
# deep copy
nums1 = [1, 2, 3]
nums2 = nums1.copy()

In [66]:
nums1

[1, 2, 3]

In [67]:
nums2

[1, 2, 3]

In [68]:
nums1[0] = 10

In [69]:
nums1

[10, 2, 3]

In [70]:
nums2

[1, 2, 3]

In [72]:
list(dir(list))[37:]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [73]:
help(list.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [74]:
numbers = [1, 2, 3, 4, 5, 6, 1, 2, 3, 1, 2, 1]
print(numbers.count(1))

4

In [75]:
print(numbers.count(2))

3

In [76]:
numbers.count(10)

0

In [77]:
list(dir(list))[37:]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [81]:
numbers = [1, 2, 3]

In [79]:
numbers.append([4, 5, 6])

In [80]:
numbers

[1, 2, 3, [4, 5, 6]]

In [82]:
numbers

[1, 2, 3]

In [83]:
numbers.extend([4, 5, 6])

In [84]:
numbers

[1, 2, 3, 4, 5, 6]

In [85]:
list(dir(list))[37:]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [86]:
help(list.index)

Help on method_descriptor:

index(self, value, start=0, stop=9223372036854775807, /)
    Return first index of value.

    Raises ValueError if the value is not present.

In [87]:
numbers = [1, 2, 3, 4, 5, 2, 3, 4, 5, 3, 4, 5]
print(numbers.index(3))

2

how to print all the indexes of an element in a list ?
how to print all the indexes of duplicate elements in a list ?
how to print all the duplicates in a list ?
how to remove all the duplicates in a list ? or
how to print all the unique elements in a list ?

In [91]:
print(numbers.index(3, 7))

9

In [92]:
numbers

[1, 2, 3, 4, 5, 2, 3, 4, 5, 3, 4, 5]

In [93]:
numbers.index(10)

ValueError: 10 is not in list

Error Handling

In [96]:
try:
    index = numbers.index(50)
    print(index)
except ValueError:
    print('Value not found')

Value not found

In [97]:
numbers

[1, 2, 3, 4, 5, 2, 3, 4, 5, 3, 4, 5]

In [98]:
numbers = [1, 2, 3, 4, 5, 2, 3, 4, 5, 3, 4, 5]

In [99]:
numbers

[1, 2, 3, 4, 5, 2, 3, 4, 5, 3, 4, 5]

In [100]:
numbers.insert(0, 11)

In [101]:
numbers

[11, 1, 2, 3, 4, 5, 2, 3, 4, 5, 3, 4, 5]

In [102]:
list(dir(list))[37:]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [103]:
numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

In [104]:
numbers.pop()

5

In [105]:
numbers

[1, 2, 3, 4]

In [106]:
numbers

[1, 2, 3, 4]

In [107]:
numbers.remove(3)

In [108]:
numbers

[1, 2, 4]

In [109]:
numbers = [1, 2, 3, 1, 2, 3, 2, 3]
numbers.remove(2)

In [110]:
numbers

[1, 3, 1, 2, 3, 2, 3]

In [111]:
help(list.pop)

Help on method_descriptor:

pop(self, index=-1, /)
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [112]:
help(list.remove)

Help on method_descriptor:

remove(self, value, /)
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [113]:
numbers = [1, 2, 3, 4, 5]

In [114]:
numbers.reverse()

In [115]:
numbers

[5, 4, 3, 2, 1]

In [116]:
numbers[::-1]

[1, 2, 3, 4, 5]

In [117]:
numbers

[5, 4, 3, 2, 1]

In [118]:
numbers = [1, 2, 4, 2, 4, 5, 6, 8, 8, 5, 3, 2, 5]

In [119]:
numbers.sort()

In [120]:
numbers

[1, 2, 2, 2, 3, 4, 4, 5, 5, 5, 6, 8, 8]

In [121]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [122]:
numbers

[1, 2, 2, 2, 3, 4, 4, 5, 5, 5, 6, 8, 8]

In [123]:
numbers.sort(reverse = False)

In [124]:
numbers

[1, 2, 2, 2, 3, 4, 4, 5, 5, 5, 6, 8, 8]

In [125]:
numbers.sort(reverse=True)

In [126]:
numbers

[8, 8, 6, 5, 5, 5, 4, 4, 3, 2, 2, 2, 1]

In [ ]:
# loops in lists

In [132]:
for i in range(0, 3):
    print('hello')
    print('world')

hello
world
hello
world
hello
world

In [134]:
list(range(0, 5))

[0, 1, 2, 3, 4]

In [138]:
numbers = [1, 2, 3, 4, 5, 6, 7]

In [136]:
print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

1
2
3
4

In [141]:
for i in range(0, 7):
    print(numbers[i])

1
2
3
4
5
6
7

In [142]:
for i in range(0, 7):
    if numbers[i] % 2 == 0:
        print(numbers[i])

2
4
6

In [143]:
numbers = [4, 3, 6, 7, 1, 2]

In [144]:
numbers.sort()

In [145]:
numbers

[1, 2, 3, 4, 6, 7]

In [ ]:
# how do we sort a list of lists ?
# [[1, 2, 3], [4, 5, 6], [7, 8, 9]]